.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FONTS */
@font-face {
  font-family: "BarlowRegular";
  src: url("./fonts/Barlow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  src: url("./fonts/BebasNeue-Regular.ttf") format("truetype");
}

.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

.header-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: -10px;
}

/* SHAPES */
.circle {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  z-index: 3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: hidden;
}

.justify-between {
  display: flex;
  width: 100%;
  justify-content: between;
  gap: 50px;
}

.justify-right {
  display: flex;
  width: 100%;
  justify-content: right;
  gap: 50px;
  padding-right: 50px;
  align-items: center;
}

.container-padding {
  padding: 10px 30px 10px 30px;
}

.navigation {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  background-color: #500e10;
  color: white;
  z-index: 100;
}

.titleFont {
  font-family: BebasNeue;
}

.navigation .nav-header {
  display: flex;
  width: 100%;
  font-family: BebasNeue;
  font-size: 25px;
}

.navigation .indiv-header:hover {
  text-decoration: underline;
}

.navigation span {
  cursor: pointer;
}

.home-section {
  display: flex;
  margin-top: 50px;
  width: 100%;
  flex-direction: column;
}

.home-image {
  display: flex;
  width: 100%;
  justify-content: center;
}

.home {
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.home .home-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .title-container {
  font-family: BebasNeue;
  font-size: 100px;
  padding: 50px;
}

.home .description-container {
  font-family: BarlowRegular;
  font-size: 20px;
  padding: 50px;
}

.authors {
  width: 100%;
  background-color: #f7dfe0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  height: auto;
}

.authors .sideContainer {
  padding-top: 100px;
}

.authors .midContainer {
  padding-top: 30px;
}

.authors .container {
  width: 500px;
  height: 600px;
  border: 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authors .container .author-container {
  width: 400px;
  height: 420px;
  background-color: black;
  display: flex;
  margin-top: -100px;
  border-radius: 5%;
  color: white;
  flex-direction: column;
}

.authors .details {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.authors .author-details {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

.authors .authorName {
  font-size: 30px;
}

.transcribe {
  padding: 50px;
}

.uploadIcon {
  font-size: 80px;
}

.items-center {
  align-items: center;
  width: 100%;
}

.transcribe .fileupload-container {
  width: 200px;
  height: 200px;
  display: flex;
  border: #500e10;
  border-width: 2px;
}

.input {
  max-width: 190px;
  display: none;
}

.labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 190px;
  border: 2px dashed #ccc;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: #404040;
  cursor: pointer;
}
